/**
 * We support IE8+ only, so we could use the border-box model
 * see http://paulirish.com/2012/box-sizing-border-box-ftw/
 */
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}


/* ******************************************** */
/* Stolen from normalize.css */
/* ******************************************** */


/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}


/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}



/* ******************************************** */
/* Responsive */
/* ******************************************** */


/**
 * Responsive images & medias
 * Prevent max-width from affecting Google Maps
 * From reset Knacss of Raphaël Goetter
 */
 
/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%;
}
/* pictures */
img {
	height: auto;
	vertical-align: middle;
}
/* Gmap3 max-width bug fix on images */
#map_canvas img,
.gmnoprint img {max-width: none;}

.lt-ie9 img { width:auto; /*BUG IE8*/ }



/* ******************************************** */
/* Styles */
/* ******************************************** */

html, body {
	margin:0;
	padding:0;
	background: #111;
	color:#fff;
}
body {
	font-family: serif;
	font-size: 1em;
}

a {color:#fff;text-decoration: none;}
a:hover {text-decoration: underline;}


header {
	padding:0 10%;
	/*margin:1em 0;*/
}
	h1,
	.slogan {
		display: inline-block;
		vertical-align: baseline;
	}
	h1 {
		font-size: 3em;
		font-family: sans-serif;
		margin-right: .25em;
	}
		h1 a:hover {text-decoration: none;}
	.slogan {
		font-style: italic;
	}

#page {
	/*text-align: center;*/
	background: #fff;
	color:#111;
	padding:1em 10%;
}
	#page a {color:#b52;}
	#page a:hover {}

	#page h1 {
		font-size: 2.5em;
		margin:0.5em 0;
	}



.message {
	border-radius: 5px;
	padding:0.5em 1em;
	margin:1em auto 0;
}
.message.success {
	color:darkgreen;
	background: lightgreen;
}
.message.error {
	color:darkred;
	background: lightyellow;
}

.link {
	font-size: 2em;
}
	.link a {
		text-decoration: none;
		color:#111;
		word-break: break-all;
	}
	.link a:hover {
		text-decoration: underline;
	}


form {
	margin:1em 0;
}

.inputs,
.actions {
  display: inline-block;
  vertical-align: top;
}
.inputs {margin:0 2em 2em 0;}
  .input + .input {margin-top:1em;}

  label {cursor: pointer;}

	input,
	button {
		display: inline-block;
		vertical-align: top;
		margin:0 0.5em 0 0;
	}
	[type="file"],
	button {
		border:none;
		min-height: 1.8em;
		line-height: 1.8em;
		padding:.5em 1em;
		font-size: 1em;
		font-family: sans-serif;
	}
	[type="file"] {
		padding-left: 0;
	}
	button {
		text-transform: uppercase;
		color:#fff;
		background: #111;
		border-radius: 5px;
	}
	button:hover {background: #b52;}



footer {
	padding:1em 10%;
	margin:1em 0;
}
