{% extends "layout.html.twig" %}

{% block title %}
    About 
{% endblock %}

{% block content %}
    <h1>About</h1>
    <p>ImgBin is made with <a href="http://silex.sensiolabs.org/">silex</a> and some symfony components</p>
    <p><a href="https://bitbucket.org/zeropi/imgbin/">Source code</a></p>
{% endblock %}