{% extends "layout.html.twig" %}

{% block title %}
    Share image easily 
{% endblock %}

{% block content %}

    {% if message %}
    <p class="message {{ message.status }}">{{ message.text }}</p>
    {% endif %}

    {% if url %}
    <p class="link">
	    {{ "View your file : "|trans }}
	    <a href="{{ url }}">{{ app.request.getSchemeAndHttpHost() ~ url }}</a>
	</p>
    {% endif %}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="inputs">
            <div class="input input-file">
                {{ form_label(form.file) }}
                {{ form_widget(form.file) }}
            </div>

            <div class="input input-checkbox">
                {{ form_widget(form.remove_metadata) }}
                {{ form_label(form.remove_metadata) }}
            </div>
        </div>
        <div class="actions">
        {{ form_widget(form.submit) }}
        </div>

    {{ form_end(form) }}

{% endblock %}