<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js lt-ie9 lt-ie8" lang="{{ meta.locale }}"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ meta.locale }}"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="{{ meta.locale }}"><!--<![endif]-->
<html>
    <head>
        <meta charset='utf-8'>
        <title>{% block title '' %} - ImgBin</title>
        <link href="{{ app.request.basepath }}/assets/css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
{# <pre>{{ dump(app) }}</pre> #}

		<header>
		    <h1>
		    	<a href="{{ home_url }}">{{ "ImgBin"|trans }}</a>
		   	</h1>
		    <p class="slogan">{{ "Upload and share file easily"|trans }}</p>
		</header>
    	<div id="page">
        {% block content %}{% endblock %}
    	</div>
    	<footer>
    		ImgBin - Code licensed under the <a href="http://www.wtfpl.net/">WTFPL</a> - 
    		<a href="{{ about_url }}">About ImgBin</a>
    	</footer>
    </body>
</html>